[Unit]
Description=BamboozLED OPC compositing proxy
After=network.target

[Service]
ExecStart=EXECUTABLE_PATH --config=CONFIG_PATH
Restart=on-failure

[Install]
WantedBy=multi-user.target
